.inner-area {
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 50px;
    padding: 50px;

    grid-column: 2/11;
    grid-row: 2/11;

    background-image: url('../../../img/playFieldPicture2.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 20px;
}

.inner-area .card-common {
    width: 30%;
    height: 30%;
}